@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos globales adicionales */
body {
  background-color: #F8F9FC;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Ocultar scrollbar pero permitir scroll */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Animaciones */
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

/* Área segura para móviles (Notch/Isla dinámica) */
.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}
